<div class="container bg">
    <div class="row">
        <div class="center col-sm-12 header">
            <a href="/"><h1 id="crazyHead">Crazy</h1></a>
            <a href="/"><h1 id="talk">Talk</h1></a>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <img id="smileys" src="https://www.smilemakerscanada.com/media/catalog/product/cache/2/image/9df78eab33525d08d6e5fb8d27136e95/B/L/BL346.jpg">
                <div class="row" id="bar">
                    <h2 class="normie1">ENTER SOME</h2>
                    <h2 id="crazy">CrazY</h2>
                    <h2 class="normie2">WORDS!</h2>
                </div>
                <form id="forms" action="/story" method="POST">
                    <input type="hidden" name="storyID" value="{{storyID}}">
                    <input type="hidden" name="inputCount" value="{{inputCount}}">
                    {{#each input}}
                    <div class="words">
                        {{this.type}}: <input class="inField" type="text" name="input{{this.id}}" id="input{{this.id}}">
                        <br>
                    </div>
                    {{/each}}
                    <br>
                    <br>
                    <br>
                    <br>
                    <div>
                        <button id="submitButton" class="btn-primary" type="submit" disabled="disabled">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <a href="/viewRandomStory">
                <button id="random" class="btn-primary" class="submit">VIEW RANDOM ENTRY</button>
            </a>
        </div>
        <div class="col-6">
            <a href="/newstory">
            <button id="writeNew" class="btn-primary">WRITE A STORY</button>
            </a>
        </div>
    </div>
</div>